---
import BaseLayout from "../layouts/BaseLayout.astro"
import Footer from "../components/Footer.astro"

const about_me_arr = [
	"Drop in About the author info here :p",
	"what it dooooo",
	"testing testing 123"
]
---
<BaseLayout>
	<div class="center-all page">
		<h1 id="about-title">Stec's Blog</h1>
		<h2>A sneak peak into the life of Sarah</h2>
		<div class="banner-container">
			<img src="/background.png" alt="Music and book collage">
			<a href="/blog">Go to blog</a>	
		  </div>
	</div>
	{/* About me */}
	<div class="center-all about-section">
		<h2>Meet the author...</h2>
		<h1 id="name">Sarah Stec</h1>
		<div class="about-content">
			<div>
				{about_me_arr.map((text) => <p>{text}</p>)}
			</div>
			<img src="/bighouse.JPG"/>
		</div>

		<div class="mobile-about-content">
			<img src="/bighouse.JPG"/>
			<div>
				{about_me_arr.map((text) => <p>{text}</p>)}
			</div>
		</div>
	</div>
	<Footer />
</BaseLayout>
