---
const social_media = [
    {name: "linkedin", url: 'https://www.linkedin.com/in/sarah-stec-07', path:"fa-brands fa-linkedin fa-2xl"},
    {name: "github", url: 'https://www.github.com/sastec17', path: "fa-brands fa-github fa-2xl"},
    {name: "email", url: "mailto: sarahstec2002@gmail.com", path: "fa-solid fa-envelope fa-2xl"},
    {name: "portfolio", url:"https://sastec17.github.io/portfolio/", path: "fa-solid fa-user fa-2xl"}
]
---
<div class="social-media">
    {social_media.map((media: any) => 
        <div>
            <a href={media.url}>
                <i class={media.path}></i>
                <p class="only-desktop">{media.name}</p>
            </a>
        </div>
    )}
</div>

