---
import ThemeIcon from "./ThemeIcon.astro"
const navLinks = [
    {title: "Blog", url: "/blog/"},
    {title: "About", url: "/blog/about/"}
]
---
<div class="navbar-container">
    <div>
        <nav>
            {navLinks.map((link: any) => <a class="nav-links" href={link.url}>{link.title}</a>)}
        </nav>
    </div>
    <ThemeIcon />
</div>
