.center-all {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* navbar styling */
.navbar-container {
    position: fixed;
    justify-content: flex-end;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    background-color: var(--accent-color);
    padding: 10px 12px;
}

.nav-links {
    margin: 1em;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--opp-color);
    font-weight: 400;
    padding: 10px 0;
}

.nav-links:hover,
.nav-links:focus {
    text-decoration: underline;
    color: var(--opp-color);
}

.navbar-mobile {
    display: none;
}

/* social media footer */
.social-media {
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
}

.social-media a {
    margin: 1em;
    color: var(--opp-color);
    text-decoration: none;
}

/* about page */
#about-title {
    margin-bottom: 5px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    text-align: left;
}

.about-content div {
    width: 50vw;
}

.about-content img{
    height: 65vh;
    width: auto;
}

.about-content h1 {
    margin: 0;
}

.mobile-about-content {
    display: none;
}

#name {
    margin: 0px 0px 16px 0px;
}

.main-container h2,
.main-container h3 {
    text-align: left;
    margin: 8px 0;
    font-weight: 600;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.main-container img {
    width: 33vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* post previews */
.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.post {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: calc(26% - 20px);
    box-sizing: border-box; 
    padding: 16px;
    border: 1px solid var(--opp-color); 
    border-radius: 8px;
    position: relative;
    text-decoration: none;
    color: var(--opp-color);
}

.post-previews {
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-decoration: none;
    color: var(--opp-color);
}

.post-previews img {
    width: 100%;
    height: auto !important;
}

.post-previews a {
    display: block;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}

.h2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* tags */
.tags {
    display: flex;
    justify-content: center;
    gap: 1.2em;
    flex-wrap: wrap;
    width: 85%;
    margin: 16px auto;
}

.tag {
    background-color:var(--accent-color);
    color: var(--opp-color);
    border: 1px solid var(--opp-color); 
    border-radius: 12px;
    font-weight: 400;
    padding: 8px 6px;
    margin: 0px 0px;
}

#inputField {
    outline: none;
    padding: 6px;
    border: 1px solid var(--opp-color); 
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--opp-color);
}

::placeholder { /* Most modern browsers support this now. */
    color: var(--opp-color);
}