html {
    background-color: var(--background-color);
    color: var(--opp-color);
    scroll-behavior: smooth;
    margin-top: 10vh;
    font-family: monospace;
}

.body,
.page {
    height: 100vh;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
}

h2, h3 {
    margin: 0 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 12px 0;
    font-size: large;
}

button {
    cursor: pointer;
}

ul, ol {
    margin-top: 0px;    
    font-size: large;
}

input {
    width: 70%;
    margin: 16px;
    justify-content: center;
}

:root {
    --text-color: #7400CC; /* Light mode */
    --background-color: #F5F5F5;
    --opp-color: #282828;
    --accent-color: #AADAC8;
  }
  
.dark {
    --text-color: #F5F5F5; /* Dark mode */
    --background-color: #282828; 
    --opp-color: #F5F5F5;
    --accent-color: #41584B;
}