@media only screen and (max-width: 768px)  {
    h1 {
        font-size: 3em;
    }

    body {
        margin-top: 2vh;
    }

    /* navbar */
    .navbar-desktop {
        display: none;
    }

    #check {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        padding: 10px 0;
        margin: 1em;
    }

    .nav-mobile {
        position: fixed;
        visibility: hidden;
        opacity: 0; 
        transform: translateX(-100%);
        transition: all 0.3s ease;
        width: 100%;
        background: var(--background-color);
        z-index: 1; 
        top: 100px;
        right: 10px;
        width: 150px;
        border: solid;
        border-color: var(--opp-color);
        border-width: 1px;
    }

    /* about page */
    .about-content {
        display: none;
    }

    .only-desktop {
        display: none;
    }

    .mobile-about-content {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;

    }
    .mobile-about-content img {
        height: auto;
        width: 70%;
    }
    .mobile-about-content div {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .post {
        width: calc(48% - 5px);
    }

    .post-container {
        gap:10px;
    }

    /* post content */
    .main-container {
        width: 85%
    }

    .main-container img {
        width: 50vw;
        height: auto;
    }

    .social-media {
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding: 16px 0;
    }
}