@media only screen and (max-width: 768px)  {
    h1 {
        font-size: 2.5em;
    }
    /* about page */
    .about-content {
        display: none;
    }

    .mobile-about-content {
        display: block;
    }

    .banner-container img {
        width: 100%;
        min-height: 60vh;
    }
}